@use "./variables" as *;

footer {
  margin-top: 40px;
  background-color: $summary-color;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 40px;

  .footer__links {
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;

    .footer__tag {
      margin: 0px;

      .footer__images {
        height: 45px;
        width: 45px;
        background-color: $background-color;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 30px;

        img {
          height: 30px;
          width: 30px;
          display: grid;
          background-color: $background-color;
        }
      }
    }
  }

  .footer__email {
    padding-top: 20px;
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    .footer__email {
      margin-left: 50px;
      padding-top: 0px;
    }

    .footer__links {
      margin-right: 50px;
      display: flex;
      justify-content: flex-end;
      padding-right: 15px;

      .footer__tag {
        margin-left: 10px;
      }
    }
  }
}
