@use "./variables" as *;

.header__mobile {
  nav {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  #myLinks {
    display: none;
    padding-top: 5vh;
    z-index: 1000;
  }

  /* Style navigation menu links */
  a {
    color: $primary-color;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: right;

    &:hover {
      text-decoration: none;
      color: #04c2c9;
    }
  }
  /* Style the hamburger menu */
  a.icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3vh;
    z-index: 1000;
  }
}

.header__desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__mobile {
    display: none;
  }

  .header__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px 30px 50px;

    span {
      font-weight: bold;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        text-decoration: none;
        color: $primary-color;
      }

      #nav__other {
        &:hover {
          border-bottom: 2px solid $primary-color;
        }
      }

      #nav__getTouch {
        border: 2px solid $primary-color;
        border-radius: 5px;
        padding: 10px;

        &:hover {
          background-color: $primary-color;
          color: $secondary-color;
        }
      }
    }
  }
}
