@use "./variables" as *;

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

  ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    height: 50px;
  }

  a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }

  a:hover {
    background-color: #f0f0f0;
  }

  li:first-child {
    margin-right: auto;

    span {
      font-weight: bold;
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    li {
      width: 100%;
    }

    a {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    box-shadow: none;
    z-index: 1000;
  }
}
