@use "./variables" as *;

.projects{

    margin-bottom: 50px;

    .projects__card{
        margin-bottom: 40px;
        max-width: 100%;
    }

    .projects__header{
        font-size: 2em;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    }

    .projects__image{
        background-color: $primary-color;
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-radius: 0px;
        padding-bottom: 0px;
        margin-bottom: 20px;

        img{
            max-width: 80%;
            height: auto;
            border-radius: 10px 10px 0px 0px;
            margin-bottom: -1px;
            margin-right: 20px;
            margin-top: 20px;
        }
    }

    .projects__language{
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: -5px;
    }

    .projects__name{
        font-size: 2.5em;
        margin-top: 0px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p{
        margin-bottom: 20px;
    }

    .projects__tag{
        text-decoration: none;
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding-left: 10px;
        padding: 5px 10px;
        margin-left: 0px;

        &:hover{
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
}

@media screen and (min-width: 768px) {

    .projects__grid-container{
        margin-left: 50px;
        margin-right: 50px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    }
