@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.header__mobile {
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Style navigation menu links */
  /* Style the hamburger menu */
}
.header__mobile nav {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: bold;
}
.header__mobile #myLinks {
  display: none;
  padding-top: 5vh;
  z-index: 1000;
}
.header__mobile a {
  color: #2f4f4f;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: right;
}
.header__mobile a:hover {
  text-decoration: none;
  color: #04c2c9;
}
.header__mobile a.icon {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3vh;
  z-index: 1000;
}

.header__desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__mobile {
    display: none;
  }
  .header__desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px 30px 50px;
  }
  .header__desktop span {
    font-weight: bold;
  }
  .header__desktop nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__desktop nav a {
    text-decoration: none;
    color: #2f4f4f;
  }
  .header__desktop nav #nav__other:hover {
    border-bottom: 2px solid #2f4f4f;
  }
  .header__desktop nav #nav__getTouch {
    border: 2px solid #2f4f4f;
    border-radius: 5px;
    padding: 10px;
  }
  .header__desktop nav #nav__getTouch:hover {
    background-color: #2f4f4f;
    color: #fff;
  }
}
.summary {
  background-color: #deebeb;
  color: #2f4f4f;
  height: 100vh;
  z-index: -1;
}
.summary .summary__mobile {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-size: 2.5em;
}
.summary .summary__mobile p {
  font-size: x-large;
}
.summary .summary__mobile .summary__text .summary__highlight {
  background: linear-gradient(180deg, transparent 60%, rgba(186, 232, 232, 0.8) 20%);
}
.summary #summary__desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .summary {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: unset;
  }
  .summary .summary__mobile {
    display: none;
  }
  .summary #summary__desktop {
    display: unset;
    display: flex;
    flex-direction: column;
    font-size: 3em;
    align-items: center;
  }
  .summary #summary__desktop p {
    font-size: large;
  }
  .summary #summary__desktop .summary__button {
    margin-top: 30px;
    width: 40%;
    text-decoration: none;
    color: #2f4f4f;
    font-size: large;
    font-weight: bold;
    border: 2px solid #2f4f4f;
    background-color: #BAE8E8;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
  }
  .summary #summary__desktop .summary__button:hover {
    background-color: #2f4f4f;
    color: #fff;
  }
  .summary #summary__desktop .summary__button:hover i {
    transform: rotate(90deg);
  }
}
.skills {
  text-align: center;
}
.skills .skills__header {
  font-size: 2em;
  padding-top: 80px;
  padding-bottom: 40px;
}
.skills .skills__header .skills_highlight {
  background: linear-gradient(180deg, transparent 60%, rgba(186, 232, 232, 0.8) 20%);
}
.skills .skills__text {
  padding-bottom: 50px;
}
.skills .skills__icons {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-bottom: 40px;
}
.skills .skills__icons div img {
  max-width: 100%;
  height: auto;
  filter: invert(22%) sepia(7%) saturate(2786%) hue-rotate(131deg) brightness(103%) contrast(80%);
}
.skills .skills__icons div:last-child {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1160px) {
  .skills {
    margin-left: 50px;
    margin-right: 50px;
  }
  .skills .skills__icons {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1161px) {
  .skills {
    margin-left: 50px;
    margin-right: 50px;
  }
  .skills .skills__icons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
  }
}
.projects {
  margin-top: 40px;
  margin-bottom: 50px;
}
.projects .projects__card {
  margin-bottom: 80px;
  max-width: 100%;
}
.projects .projects__header {
  font-size: 2em;
  padding-top: 40px;
  padding-bottom: 70px;
  text-align: center;
}
.projects .projects__header .projects__highlight {
  background: linear-gradient(180deg, transparent 60%, rgba(186, 232, 232, 0.8) 20%);
}
.projects .projects__image {
  background-color: #2f4f4f;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}
.projects .projects__image img {
  max-width: 80%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: -1px;
  margin-right: 20px;
  margin-top: 20px;
}
.projects .projects__language {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: -5px;
  color: #47c2c2;
}
.projects .projects__name {
  font-size: 2.5em;
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 20px;
}
.projects p {
  margin-bottom: 20px;
}
.projects .projects__tag {
  text-decoration: none;
  color: #2f4f4f;
  border: 1px solid #2f4f4f;
  border-radius: 5px;
  padding-left: 10px;
  padding: 5px 10px;
  margin-left: 0px;
}
.projects .projects__tag:hover {
  background-color: #2f4f4f;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 875px) {
  .projects__grid-container {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 876px) {
  .projects__grid-container {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
.aboutMe {
  display: grid;
  gap: 15px;
  grid-template-rows: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
.aboutMe .aboutMe__header {
  text-align: center;
  font-size: 2em;
  padding-bottom: 20px;
}
.aboutMe p {
  padding-top: 50px;
}
.aboutMe .aboutMe__image {
  position: relative;
  display: inline-block;
}
.aboutMe .aboutMe__image #circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  padding-left: 10px;
}
.aboutMe .aboutMe__image #squiggle {
  position: absolute;
  bottom: 40px;
  right: 10px;
  max-height: 20px;
}
.aboutMe .aboutMe__image #portrait {
  display: block;
  width: 80%;
  padding-top: 50px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: -1;
}
.aboutMe .aboutMe__desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .aboutMe {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
  }
  .aboutMe .aboutMe__header {
    text-align: left;
  }
  .aboutMe .aboutMe__image {
    display: none;
  }
  .aboutMe .aboutMe__imageDesktop {
    display: flex;
  }
}
footer {
  background-color: #2f4f4f;
  color: #fff;
  text-align: center;
  padding: 40px;
  margin: -12px;
}
footer .footer__links {
  padding-left: 20vw;
  padding-right: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
}
footer .footer__links .footer__tag {
  margin: 0px;
}
footer .footer__links .footer__tag .footer__images {
  height: 45px;
  width: 45px;
  background-color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
footer .footer__links .footer__tag .footer__images img {
  height: 30px;
  width: 30px;
  display: grid;
  background-color: #fff;
}
footer .footer__email {
  padding-top: 20px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer__email {
    margin-left: 50px;
  }
  footer .footer__links {
    margin-right: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", "sans-serif";
}

body {
  background-color: fff;
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
}/*# sourceMappingURL=styles.css.map */