@use "./variables" as *;
@use "./header";
@use "./summary";
@use "./skills";
@use "./projects";
@use "./aboutMe";
@use "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
}
