@use "./variables" as *;
@use "./header";
@use "./summary";
@use "./aboutMe";
@use "./skills";
@use "./projects";
@use "./footer";

*{
    margin: 6px;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
}


body{
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

